@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap');

body {
    background-color: #F0F3F5;
    font-family: "Lato", "Montserrat", sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

#content {
    max-width: 1600px;
    margin: 0 auto; 

}
/* This part is for my form*/
form {
    /* Center the form on the page */
    margin: 0 auto;
    margin-top: 30px;
    width: 400px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
    color: #212630;
  }
  
  input,
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;
  
    /* Match form field borders */
    border: 1px solid #212630;
  }
  
  input:focus,
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
  }
  
  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 5em;
  }
  
  .button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: 0.5em;
  }

  #feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;      
}
.moveDown {
    margin-top: 3em;
}

/* This ends the form css. */

#top-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #244D6A;
  color: #F0F3F5;
  height: 30px;
}

#bottom-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #95A6B1;
  height: 100px;
}

nav {
  display: flex;
  justify-content: space-around;
}

nav a {
  text-align: center;
  color: #F0F3F5;
  text-decoration: none;
  padding: 35px;
}

#bottom-bar nav {
  display: flex;
  align-items: center;
}

#bottom-bar nav a {
  color: #F0F3F5;
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.3s;
}

#bottom-bar #logo-link img {
  max-width: 100px;
}

#bottom-bar nav a:hover {
  color: #192029;
}

#banner {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  margin-bottom: 100px;
}

#banner-box {
  grid-column: 1/4;
  grid-row: 1/3;
}

