@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap');

body {
    background-color: #F0F3F5;
    font-family: "Lato", "Montserrat", sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

#content {
    max-width: 1600px;
    margin: 0 auto; 

}

#top-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #244D6A;
  color: #F0F3F5;
  height: 30px;
}

#bottom-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #95A6B1;
  height: 100px;
}

nav {
  display: flex;
  justify-content: space-around;
}

nav a {
  text-align: center;
  color: #F0F3F5;
  text-decoration: none;
  padding: 35px;
}

#bottom-bar nav {
  display: flex;
  align-items: center;
}

#bottom-bar nav a {
  color: #F0F3F5;
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.3s;
}

#bottom-bar #logo-link img {
  max-width: 100px;
}

#bottom-bar nav a:hover {
  color: #192029;
}

#banner {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  margin-bottom: 100px;
}

#banner-box {
  grid-column: 1/4;
  grid-row: 1/3;
}

