@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Trispace&display=swap');


#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
    color: #e7ede8;
    text-decoration: none;
    padding: 35px;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 525px;
    background-color: #c0d4d6;
    margin-top: 100px;
    margin-bottom: 100px;
}

body {
    background-color: #3d494d;
    font-family: "Electrolize", "Trispace", sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3d494d;
}

nav a:hover {
    background-color: #3d494d;
    color: white;
}

.book, .join {
    background-color: #e7ede8;
    color: #3d494d;
    text-decoration: none;
    font-family: "Electrolize", "Trispace", sans-serif;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    border: 2px solid black;
}

.book:hover, .join:hover {
    background-color: #0A131C;
    color:white;
}

.msg {
    background-color: #0A131C;
    line-height: 1.5em;
    padding: 35px;
}

footer {
    background-color: #0A131C;
    color:#e7ede8;
    padding: 25px 50px;
    margin-top: 200px;
}

.home-title {
    color:#e7ede8;
    font-family: "Electrolize", "Trispace", sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

h4 {
    color:#e7ede8;
}

.msg h2 {
    color:#e7ede8;
}

.msg p {
    color:#e7ede8;
    font-family: "Electrolize", "Trispace", sans-serif;
    font-size: .9em;
    padding-bottom: 15px;
}

footer a {
    color:#e7ede8;
    text-decoration: none;
}

footer a:hover{
    color:white;
}

.logo {
    width: 80px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

#hero-img {
    width: 100%;
}

footer p a:hover {
    text-decoration:  underline;
}

nav {
    background-color: #0A131C;

}

h2 {
    margin: 0;
    color: #e7ede8;
}

#logo_link {
    padding-top: 5px;
}

footer .social img {
    padding-top: 15px;
}

.rivers-card, .rapids-card, .camping-card  {
    margin-top: 200px;
}

.card-img {
    border: 10px solid black;
}

main section img {
    box-sizing: border-box;
}